@font-face {
    font-family: 'EuclidFlex-Regular';
    src: url('EuclidFlex-Regular.eot');
    src: url('EuclidFlex-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('EuclidFlex-Regular.woff2') format('woff2'),
        url('EuclidFlex-Regular.woff') format('woff'),
        url('EuclidFlex-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewParisHeadline-Medium';
    src: url('NewParisHeadline-Medium.eot');
    src: url('NewParisHeadline-Mediumd41d.eot?#iefix') format('embedded-opentype'),
        url('NewParisHeadline-Medium.woff2') format('woff2'),
        url('NewParisHeadline-Medium.woff') format('woff'),
        url('NewParisHeadline-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SouthamptonRegular';
    src: url('SouthamptonRegular.eot');
    src: url('SouthamptonRegulard41d.eot?#iefix') format('embedded-opentype'),
        url('SouthamptonRegular.woff2') format('woff2'),
        url('SouthamptonRegular.woff') format('woff'),
        url('SouthamptonRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NewParisHeadline';
    src: url('NewParisHeadline.eot');
    src: url('NewParisHeadlined41d.eot?#iefix') format('embedded-opentype'),
        url('NewParisHeadline.woff2') format('woff2'),
        url('NewParisHeadline.woff') format('woff'),
        url('NewParisHeadline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

